.flashy {
    color:red;
    font-style: italic;
}
#best {
    font-size: 200%;
    color: green;
    font-family: fantasy 
}

.important {
    font-style: italic;
}

.important2 {
    font-size: 500%;
}

/*body {
    background-image: url("1.jpeg");
    background-size: 20%;
}